/* -- colors -- */
$azure: azure
$bouquet: #b37399
$venus: #998099
$white: rgb(253, 253, 255)
$iron: #dadbdf
$patina: #699
$nebula: #0077b5
$gray: #f5f5f5
$whitesmoke: #f8f8ff

/* -- screen size -- */
$mobile-large: 320px
$tablet-small: 480px
$tablet-large: 768px
$screen-small: 1024px
$screen-large: 1280px

/* -- typography -- */
$text-x-large: 32px
$text-large: 24px
$text-medium: 16px
$text-small: 12px

/* -- std heights --*/
$navbar-height: 3.5em
$icon-size: 38px

body
  background: $white
  margin: 0 auto
  padding: 0
  max-width: $screen-large

a
  text-decoration: none
  transition: all .3s

ul
  text-decoration: none
  list-style-type: none