/* -- imports -- */
@import '../../globals/globals.sass'

.links
  box-shadow: 6px 0px 11px -6px $shadow
  z-index: 4

  ul
    padding: 0
    margin: auto
    max-width: 85%

  li
    align-items: center
    background-color: transparent
    border: 1px solid transparent
    display: flex
    font-size: $text-small
    font-weight: 600
    padding: 8px 20px
    margin: 1em 0
    position: relative

    &:hover
      background: linear-gradient(to bottom right, $twitter-blue, $blue);
      border: 1px solid $twitter-blue
      border-radius: 40px
      box-shadow: 0px 6px 14px -3px $shadow

      a
        color: $white
        font-weight: 600

      img
        filter: invert(100%)

  #notification
    &::after
      border: none
      content: url(/assets/one.svg)
      height: 1.5em
      outline: none
      position: absolute
      right: 10px
      visibility: visible
      width: 1.5em

  a
    color: black
    padding-top: 1px

  img
    max-height: 22px
    margin: 0 1em 0 0

  .divider
    border-bottom: 1px solid $gray
    width: 80%
    margin: 1.2em auto