@import '../../globals/globals.sass'

.demo
  perspective: 1px
  height: 75vh
  overflow-x: hidden
  overflow-y: auto
  margin: 0 auto
  padding: 0 10em
  min-width: $screen-small
  background-image: url('/assets/squiggles.svg')
  background-repeat: no-repeat
  background-position: center
  background-size: 120%

  img
    width: 700px
    box-shadow: -2px 2px 8px 2px $shadow

  .image
    position: absolute

  .base
    transform: translateZ(-1px) scale(2) rotate(-20deg)
    left: 15%
    top: 25%

  .back
    transform: translateZ(-2px) scale(3) rotate(-20deg)
    left: 40%
    top: 45%