/* -- imports -- */
@import '../../../../../globals/globals.sass'

.post
  box-shadow: 0px 8px 24px 6px $shadow
  margin-top: 2.5em
  border-radius: 6px

  .content
    display: grid
    grid-template-columns: 0px 1fr 80px
    grid-template-rows: 60px
    align-items: center
    background-color: $white
    padding: 1em 2.5em 1em 2.5em
    border-top-left-radius: 6px
    border-top-right-radius: 6px

    img
      max-height: $icon-size-user
      max-width: $icon-size-user
      border-radius: 50%
      background-color: $white
      box-shadow: 0px 4px 14px 2px $shadow
      position: relative
      left: -70px

    h4
      color: $twitter-blue

    #createdAt
      text-align: right
      font-size: $text-small
      font-weight: 300

    #content
      grid-column: span 3
      margin: 0

  // comments section
  .comments
    padding: 0 2.5em

  // likes and comments
  .meta
    padding-left: 2.5em
    padding-right: 2.5em
    display: grid
    grid-template-columns: 1fr 58px
    align-items: center
    background-color: $white
    border-bottom-left-radius: 6px
    border-bottom-right-radius: 6px

    img
      display: inline-flex
      height: 16px
      position: relative
      top: 3px
      padding-right: .7em
      &:hover
        cursor: pointer

    #comment
      height: 18px
    p
      font-size: 12px
      align-content: center
      display: inline-flex
      color: $gray-dark
      padding-right: 2em
      &:hover
        cursor: pointer
    .like__count
      font-size: $text-small
      text-align: right
      font-weight: 300