{
    "env": {
        "es6": true,
        "node": true
    },
    "extends": [
        "airbnb",
        "eslint:recommended",
        "plugin:node/recommended",
        "plugin:react/recommended",
        "plugin:jsx-a11y/recommended"
    ],
    "parserOptions": {
        "ecmaFeatures": {
            "experimentalObjectRestSpread": true,
            "jsx": true
        },
        "sourceType": "module"
    },
    "plugins": [
        "react",
        "node",
        "jsx-a11y"
    ],
    "rules": {
        "linebreak-style": ["warn", "unix"],
        "quotes": ["warn", "single"],
        "semi": ["warn", "always"],
        "no-console": ["off"],
        "node/exports-style": ["warn", "module.exports"],
        "node/no-unsupported-features": ["off"]
    }
}