{
    "env": {
        "es6": true,
        "node": true,
        "commonjs": true
    },
    "extends": [
        "airbnb-base",
        "eslint:recommended",
        "plugin:node/recommended",
        "plugin:import/warn",
        "plugin:import/error"

    ],
    "parserOptions": {
        "ecmaFeatures": {
            "experimentalObjectRestSpread": true,
            "jsx": true
        },
        "sourceType": "module"
    },
    "plugins": [
        "node",
        "import"
    ],
    "rules": {
        "quotes": ["warn", "single"],
        "semi": "error",
        "no-console": "off",
        "node/exports-style": ["warn", "module.exports"],
        "node/no-unsupported-features": ["on"]
    }
}