/* -- imports -- */
@import '../../../../../global.sass'

.content__type
  display: grid
  grid-template-columns: repeat(3, $icon-size 2fr)
  grid-template-rows: 40px
  align-items: center

  img
    max-height: $icon-size

  p
    font-size: $text-medium
    margin: 0
    padding: 4px 0 0 6px