@import '../../../globals/globals.sass'

$primary: tomato
$secondary: hotpink
$accent: blue

.inbox
  margin: 2em 0
  display: grid
  grid-template-columns: 1fr
  grid-template-rows: 4em 1fr 4em

// top section
.header
  display: flex
  justify-content: space-between
  align-items: center
  margin-bottom: 2em

  .inbox__heading
    font-size: $text-large

    h3
      font-weight: 300

  button
    padding: 1em
    width: 10em
    font-size: $text-small
    font-weight: 300
    color: $white
    background: linear-gradient(to bottom right, $primary, $secondary);
    border: none
    border-radius: 40px
    box-shadow: 0px 4px 18px -2px $secondary
    outline-color: $primary
    cursor: pointer

// middle section
.messages
  color: black

  .message
    display: grid
    grid-template-columns: 2fr 3fr 9fr 1.5fr 1fr
    align-items: center
    padding: 1em 0
    margin-bottom: .5em
    background: $white
    border-left: 3px solid transparent
    border-radius: 6px
    box-shadow: 0 4px 8px -2px $shadow
    cursor: pointer
    transition: transform .1s ease
    outline: none

    &:hover
      transform: scale(1.02)
      background: $white
      box-shadow: 0px 4px 12px $shadow
      border-top: $white

    &:focus
      transform: scale(1.02)
      background: $white
      box-shadow: 0px 4px 12px $shadow
      border-top: $white

    .new__message
      border-left: 3px solid $primary

    .replied__message
      border-left: 3px solid $secondary

    .read__message
      border-left: 3px solid transparent

    p
      margin: 0.25em
      font-weight: 400

    .icon
      margin: 0 0 0 1em
      padding: 0

      img
        border: none
        border-radius: 50%
        height: 3em

    .details
      justify-self: stretch

    .show__more img
      height: 24px
      widht: 24px
      border-radius: 50%
      position: relative
      top: 4px
      padding: 4px
      transition: transform .1s ease-in-out

      &:hover
        transform: scale(1.3)

// lower section
.pages
  display: flex
  justify-content: space-between
  align-items: center
  margin: 2em 0

  .pagenation

    > a
      margin: 0 0 0 2em