/* -- imports -- */
@import '../../../../globals/globals.sass'

.news__feed
  background-color: $white
  box-shadow: 0px 8px 24px 2px $shadow
  border-radius: 6px
  overflow: hidden

.article
  display: block
  img
    width: 100%
    max-height: 175px

.article__details
  padding: 1em
  p
    font-size: $text-small
    margin: 0
